/*common css*/


/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

:focus {
    outline: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

ul li {
    list-style: none;
}

*,
html,
body {
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
    font-size: 14px;
    color: #5b5b5c;
}


/*字体集*/

.ff1 {
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
}


/*字体大小集*/

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}


/* 清除浮动*/

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/*左右浮动*/

.fl {
    float: left;
}

.fr {
    float: right;
}


/*块级内联*/

.db {
    display: block;
}

.dib {
    display: inline-block;
}


/*对其方式*/

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}


/* 两端对齐 eg. <div class="justify">对齐<span></span></div>*/

.justify {
    text-align: justify;
}

.justify>span {
    display: inline-block/* Opera */
    ;
    padding-left: 100%;
}


/*段落换行规则*/


/*内容不换行*/

.all-dw {
    word-wrap: normal;
    white-space: nowrap;
}


/*全部换行*/

.all-lf {
    overflow: hidden;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}


/*中文换行*/

.zh-lf {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}


/*溢出省略，需要宽度支持*/

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.t-c {
    text-align: center;
}

.t-l {
    text-align: left;
}

.t-r {
    text-align: right;
}

.m-c {
    margin: 0 auto;
}


/* link 默认不使用text-decoration*/

a,
a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}


/*需要用到的颜色*/

.red {
    color: red;
}

.required {
    color: red
}


/*公共的最小宽度*/

.min960 {
    min-width: 960px;
}

.min1000 {
    min-width: 100px;
}


/*虚线分隔线*/

.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 2px 0;
}


/*loading*/

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #F2F2F2;
    .load-area {
        width: 30%;
        height: 46%;
        margin: 0 auto;
        position: relative;
    }

    #LoadNUM {
        position: absolute;
        bottom: 8%;
        left: 0;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2.7rem
    }
}